.modal__container input,
select {
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgba(170, 170, 170, 0.84);
    margin-bottom: 10px;
    font-family: 'Roboto';
}

.personal-info__container input {
    margin-bottom: 15px;
}

.modal__container input {
    padding-left: 15px;
}

.modal__container label {
    margin-bottom: 3px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: left;
    color: #313030;
}

.modal__container {
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(40, 104, 174, 0.43);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-user__container {
    background-color: white;
    width: 1200px;
    /* min-height: 650px; */
    margin: 45px 230px;
    padding: 12px 30px 20px 20px;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.add-user__form {
    display: grid;
    grid-template-areas:
        'Personal Personal Personal'
        'Office Office Office'
        'Work';
    position: relative;
}

.title {
    padding-bottom: 5px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: 0.99px;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #23aaeb;
    color: #23aaeb;
}

.section__title {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #23aaeb;
}

.personal-info {
    margin-bottom: 32px;
}

.personal-info__container {
    display: flex;
}

.personal-info__first-column {
    grid-area: Image;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 120px;
    border: 3px dashed rgba(92, 105, 116, 0.5);
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 1.73px;
    color: #5c6974;
    text-transform: uppercase;
}

.personal-info__second-column {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    width: 50%;
}

.personal-info__third-column {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    width: 50%;
}

.office {
    margin: 18px 0;
}

.office-info__row {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}

.office-info__container {
    display: flex;
    margin-right: 25px;
}

.office-info__first-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 32px;
}

.office-info__second_column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.work-home {
    margin-top: 15px;
}

.work-home__container {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.checkbox {
    margin-top: 10px;
    width: 15px;
    height: 15px;
}


.btns-area {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

.form-btn {
    width: 85px;
    height: 30px;
    text-align: center;
    padding: 9px 20px 9px 20px;
    margin-left: 14px;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    color: white;
    border: none;
}

.btn-save {
    border: solid 1px #23aaeb;
    background-color: #23aaeb;
}

.btn-cancel {
    border: solid 1px #ff6a6a;
    background-color: #ff6a6a;
}

.form-btn:hover{
    cursor: pointer;
    background-color: white;
}

.btn-save:hover{
    color: #23aaeb;
    border: 3px solid #23aaeb
}

.btn-cancel:hover{
    color: #ff6a6a;
    border: 3px solid #ff6a6a
}

.btn-save:disabled {
    border: solid 1px #23aaeb30;
    background-color: #23aaeb50;
    cursor: not-allowed;
}

.checkbox:hover {
    cursor: pointer;
}

@media (max-width:900px) {
    .modal__container {
        padding-top: 100px;
    }

    .add-user__container {
        margin: 100px;
    }

    .add-user__form {
        width: 100%;
    }

    .personal-info__container,
    .office-info__container {
        flex-direction: column;
    }

    .personal-info__first-column,
    .personal-info__second-column,
    .personal-info__third-column,
    .office-info__first-column,
    .office-info__second_column,
    .btns-area {
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 10px;
    }
}
