@import './user.css';
@import './userslist.css';
@import './adduser.css';
@import './actionbar.css';
@import './navbar.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Roboto:wght@400;700&display=swap');
*,
*::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.app__full{
  display: flex;
  height: 100vh;
}

.app__part{
  display:flex;
  flex-direction: column;
  width: 100%;
}