.nav-bar__container {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(to bottom, #39a4dc, #2763ab);
}

.icons__container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar__icon {
    display: inline;
    width: 100%;
    color: white;
    font-size: 1.7rem;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__title{
    font-family: 'Roboto';
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}

.employees {
    background-color: #2765ac;
}

