.users-list__screen {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0 0;
}

.toggler {
    align-self: flex-end;
    right: 0;
    margin: 55px;
    padding: 10px;
    width: 101px;
    height: 30px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    border-radius: 5px;
    background-color: #2764ac;
    color: white;
    border: none;
}

.users-list__container {
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
}